.container-fluid{
    padding: 150px 8% 60px;
    background: linear-gradient(135deg, #e5fff7 0%, #ffffff 100%);
   
    align-items: center;

}


.text-heding {

   /* padding-bottom: 150px; */
   padding-left: 300px;

}



.img-ridoy{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow:0 8px 15px rgba(0,0,0,0.1) ;
  background-color: #dee2e6;
}













@media (max-width:1475px) {
    .text-heding {

        padding: 5px 0px 00px 00px;
        padding-left: 100px;
      
     
     }
     .container-fluid{
        padding-left:70px;
      padding-top: 150px;
      padding-bottom: 150px;
      padding-right: 0px;
    
    }
   
  }
  


  




  @media (max-width:1105px) {
    .text-heding {

        padding-bottom: 150px;
        padding-left: 100px;
     
     }
     .container-fluid{
     padding-left:40px;
      padding-top: 150px;
      padding-bottom: 150px;
      padding-right: 0px;
    
    }
  
  }
  
  
  @media (max-width:990px) {


    .text-heding {

        padding-bottom: 30px;
        padding-left: 0px;
       
     
     }
   
    .container-fluid{
        padding-left:0px;
         padding-top: 150px;
         padding-bottom: 100px;
         padding-right: 0px;
         margin: auto;
       
       }
       /* .placeholder-glow{
       height: 200px;
       width: 200px;

       } */
        .ridoy-islam{
          text-align: center;
          margin: auto;
          justify-content: center;
          align-items: center;

        }


       








  
  }
  

  